html{

    background-color: #6b7b93;
    
}

body{
    text-align: center;
}
h1 {
    text-align: center;
    font-family: "cookie";
    font-family: "cookie";
    font-size: 55pt;
    color: #e8a9a9;
}


a{ 
color: #9c8bc6;
    font-size: 45pt;
    font-family: "cookie";
}



.main{
    font-family: "segoe script";
    font-size:  17pt;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.hope {
    font-size: 17pt;
    font-family: "Sacramento";
    font-size: 35pt;
}



footer{
    border: 1px solid black;
    background-color: #53417f;
    color: white;
    width: 100%;
    height: 35px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1px;
    margin: auto;
    font-size: 18px;

}

a:hover{
    color: white;
    
}

img { 
    border: medium solid #666;
    box-shadow: 5px 5px 5px rgba(0,0,0,3);
}

